*{
    margin: 0;
    padding: 0;
     color: rgb(244, 8, 8);
     background-color: #e3e0ee;
}

table,th,td{
    border: solid rgb(52, 47, 47);
    padding: 3px;
}
th{
    background-color:  rgb(149, 188, 161);
}
td{
    background-color: aqua;
}
table{
   
    margin: auto;
   border-collapse: collapse;
   background-color: rgb(241, 245, 243);
}
.table{
  
    align-items: center;
}
.search{
    margin: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* margin: auto; */
}
.time{
   
    text-align: center;
    
}
.sdata{
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    display: flex;
}
